<!DOCTYPE html>
<html>
<body>
	{% extends 'base.html' %}
	{% csrf_token %}
	{% block content %}
	<div id='card-container'></div>
</body>
</html>

<script type="text/javascript">
	const csrftoken = getCookie('csrftoken');
	const auth_token = getCookie('auth_token');
	
	const xhr = new XMLHttpRequest();
	xhr.responseType = "json";
	xhr.open('GET','HTTP://'+window.location.host +'/api/alerts/value');
	xhr.setRequestHeader('X-CSRF-Token', csrftoken)
	xhr.setRequestHeader('Authorization','Token '+auth_token)
	xhr.onload = function(){ 
		var response = xhr.response ;
		const elem = document.getElementById('card-container');	
		response.forEach(result => {
			console.log(result)
			elem.append(createValueAlertCard(result))
		});
 	}
 	xhr.send();

	const xhr2 = new XMLHttpRequest();
	xhr2.responseType = "json";
	xhr2.open('GET','HTTP://'+window.location.host +'/api/alerts/time');
	xhr2.setRequestHeader('X-CSRF-Token', csrftoken)
	xhr2.setRequestHeader('Authorization','Token '+auth_token)
	xhr2.onload = function(){ 
		var response = xhr2.response ;
		const elem = document.getElementById('card-container');	
		response.forEach(result => {
			console.log(result)
			elem.append(createTimeAlertCard(result))
		});
 	}
 	xhr2.send();



 	function createValueAlertCard(data){
 		var newCard = document.createElement("div");
		newCard.className = 'card';
		if(data['when_alert']=='ABV'){
			var word = 'above'
		}else{
			var word = 'below'
		}

		if(data['is_activated']){
			var is_checked = 'checked'
		}else{
			var is_checked = ''
		}

		newCard.innerHTML = `
		<div class="card-title">
		<h2> ${data['title']}</h2>  <h5><button class='btn bg-white' id=v${data['id']} onClick="deleteAlert(this.id,'value')"><i class="material-icons">delete</i></button></h5>
		</div>
		<p>${data['base_asset']} is ${word} ${Number(data['coin_value']).toLocaleString()} ${data['quote_asset']}<p>
		<div>
		  <input type="checkbox" class="regular-checkbox" id="scales" name="scales" ${is_checked}>
		  <label>Enabled</label>
		</div>`
 		return(newCard)
 	}

 	function createTimeAlertCard(data){
 		var newCard = document.createElement("div");
		newCard.className = 'card';
		if(data['when_alert']=='ABV'){
			var word = 'above'
		}else{
			var word = 'below'
		}

		if(data['is_activated']){
			var is_checked = 'checked'
		}else{
			var is_checked = ''
		}

		newCard.innerHTML = `
		<div class="card-title">
		<h2> ${data['title']}</h2>  <h5><button class='btn bg-white' id=${data['id']} onClick="deleteAlert(this.id,'time')"><i class="material-icons">delete</i></button></h5>
		</div>
		<p>${data['base_asset']} is ${word} ${Number(data['percentage']).toLocaleString()} % ${data['quote_asset']} during the last ${data['time_delta']}<p>
		<div>
		  <input type="checkbox" class="regular-checkbox" id="scales" name="scales" ${is_checked}>
		  <label>Enabled</label>
		</div>`
 		return(newCard)
 	}

 	function deleteAlert(AlertId,AlertType){
 		const xhr = new XMLHttpRequest();
		xhr.responseType = "json";
		xhr.open('DELETE','HTTP://'+window.location.host +'/api/alerts/'+AlertType+'/'+AlertId);
		xhr.setRequestHeader('X-CSRF-Token', csrftoken)
		xhr.setRequestHeader('Authorization','Token '+auth_token)
		xhr.onload = function(){ 
			var response = xhr.response ;
			console.log(response)
	 	}
	 	xhr.send();
 	}

</script>
{% endblock %}