<!DOCTYPE html>
<html>
<body>
	{% extends 'base.html' %}
	{% csrf_token %}
	{% block content %}
	<div id='card-container'></div>
	<div id='form-card-container'></div>
</body>
</html>
<script type="text/javascript">
	const csrftoken = getCookie('csrftoken');
	const auth_token = getCookie('auth_token');
	
	const xhr = new XMLHttpRequest();
	xhr.responseType = "json";
	xhr.open('GET','HTTP://'+window.location.host +'/api/alerts/value');
	xhr.setRequestHeader('X-CSRF-Token', csrftoken)
	xhr.setRequestHeader('Authorization','Token '+auth_token)
	xhr.onload = function(){ 
		var response = xhr.response ;
		const elem = document.getElementById('card-container');	
		response.forEach(result => {
			elem.append(createValueAlertCard(result))
		});
 	}
 	xhr.send();

	const xhr2 = new XMLHttpRequest();
	xhr2.responseType = "json";
	xhr2.open('GET','HTTP://'+window.location.host +'/api/alerts/time');
	xhr2.setRequestHeader('X-CSRF-Token', csrftoken)
	xhr2.setRequestHeader('Authorization','Token '+auth_token)
	xhr2.onload = function(){ 
		var response = xhr2.response ;
		const elem = document.getElementById('card-container');	
		response.forEach(result => {
			elem.append(createTimeAlertCard(result))
		});
 	}
 	xhr2.send();

 	if( auth_token != null){
 		CreateValueAlertCardForm()
 		CreateTimeAlertCardForm()
 	}

 	function deleteAlert(AlertId,AlertType){
 		const xhr = new XMLHttpRequest();
		xhr.responseType = "json";
		xhr.open('DELETE','HTTP://'+window.location.host +'/api/alerts/'+AlertType+'/'+AlertId);
		xhr.setRequestHeader('X-CSRF-Token', csrftoken)
		xhr.setRequestHeader('Authorization','Token '+auth_token)
		xhr.onload = function(){ 
			var response = xhr.response ;
	 	}
	 	xhr.send();
 	}
</script>
{% endblock %}