<!DOCTYPE html>
<html>
<body>
	{% extends 'base.html' %}
	
	{% load static %}
	{% block content %}

	<div id='login-card-container'>
		
			<div class='card'>
				<form id="LoginForm">
					{% csrf_token %}
				<div>
					<label for="email">Email</label>
				</div>
				<div>
					<input type="email" id="email" size="50" name="email" required>
				</div>

				<div>
					<label for="pass">Password</label>
				</div>

				<div>
	    			<input type="password" id="pass" name="password" minlength="8" required>
	    		</div>
	    		<button id='submit' onClick='sendLogin()'>Submit</button>
				</form>
			</div>
		
	</div>
<script type="text/javascript">

	function sendLogin(){

		var LoginForm = document.getElementById('LoginForm');
		formData = new FormData(LoginForm);
		const csrftoken = getCookie('csrftoken');
		const xhr = new XMLHttpRequest();

		xhr.responseType = "json";
		xhr.open('POST','HTTP://'+window.location.host +'/api/auth/login');
		xhr.setRequestHeader('X-CSRF-Token', csrftoken)
		xhr.onload = function(){ 
			var response = xhr.response ;
			console.log(response)
			document.cookie = `auth_token=${response['auth_token']}`
			window.location.href = '../'
	 	}
	 	xhr.send(formData);
	}

	var form = document.getElementById("LoginForm");
	function handleForm(event) { event.preventDefault(); } 
	form.addEventListener('submit', handleForm);
</script>
	{% endblock %}


</body>
</html>

