<!DOCTYPE html>
<html>
<body>
	{% extends 'base.html' %}
	{% csrf_token %}
	{% block content %}

	<div id='register-card-container'>
			
			<div class='card'>
				<div class='card-title'><h2>Register</h2></div>
				
				<form id="RegisterForm">
					{% csrf_token %}
				<div>
					<label for="email">Email</label>
				</div>
				<div>
					<input type="email" id="email" size="50" name="email" required>
				</div>

				<div>
					<label for="pass">Password</label>
				</div>

				<div>
	    			<input type="password" id="pass" name="password" minlength="8" required>
	    		</div>
	    		<p> It must contain at least 8 characters.</p>
	    		<button id='submit' onClick='sendRegister()'>Submit</button>
				</form>
			</div>
	</div>
</body>
</html>
<script type="text/javascript">
	const csrftoken = getCookie('csrftoken');
	const auth_token = getCookie('auth_token');
	if(auth_token != null && auth_token !== 'undefined' ){window.location.href = '../'}

	var logElem = document.getElementById('log')
	logElem.innerHTML = `<button class='btn bg-blue'><a href="/login"><h3>login</h3><a></button>`

	function sendRegister(){
		var RegisterForm = document.getElementById('RegisterForm');
		formData = new FormData(RegisterForm);
		const csrftoken = getCookie('csrftoken');
		const xhr = new XMLHttpRequest();
		xhr.responseType = "json";
		xhr.open('POST','HTTP://'+window.location.host +'/api/user');
		xhr.setRequestHeader('X-CSRF-Token', csrftoken)
		xhr.onload = function(){ 
			var response = xhr.response;
			console.log(response)
	 	}
	 	xhr.send(formData);
	}
</script>
{% endblock %}